<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./css/styles.css">
  </head>
  <body>
    <div class="special">
      <h1>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam,
        laboriosam quibusdam officiis sequi corporis qui inventore provident
        sunt eum veritatis dicta explicabo architecto soluta eveniet voluptates,
        doloremque perferendis, accusantium ipsa.
      </h1>
      <h2>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis libero
        unde autem corporis doloremque voluptate temporibus a vel perferendis
        sit esse reprehenderit impedit dignissimos ex culpa harum, ullam ipsa.
        Nobis?
      </h2>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolor,
        doloremque cumque. Temporibus aliquid delectus molestiae expedita
        laborum itaque, necessitatibus totam? Non officiis expedita temporibus
        distinctio quae itaque ex officia consectetur.
      </p>
    </div>
  </body>
</html>
